.idea/
__pycache__/
hn2018_2019.csv
poll.csv
probability.csv
show_hn.csv
story.csv
ask_hn.csv
.DS_Store
df_testing*
model_df*
Stopwords.txt
sample_testing.csv
vocabulary.csv
ask_hn_dft.csv
show_hn_dft.csv
poll_dft.csv
story_dft.csv
baseline-result.txt
stopword-model.txt
stopword-result.txt
wordlength-model.txt
wordlength-result.txt
model-2018.txt
df_training.csv
